<section class="chordindex">
  <section class="heading">
    <div class="heading__h1">
      <h1>作品一覧</h1>
    </div>
  </section>

  <% @chords.each do |chord|%>
    <section class="chordindex__wrap">
      <div class="chordindex__wrap--container">
        <div class="chordindex__wrap--img">
          <%=link_to user_path(chord.user.id) do%>
            <%= attachment_image_tag chord.user, :profile_image, fallback: "no-image.png"%>
          <% end %>
        </div>
        <div class="chordindex__body">
          <% if current_user.following?(user)%>
            <%= link_to "フォローを外す", user_relationships_path(user.id),method: :delete%>
          <%else%>
            <%= link_to "フォローする", user_relationships_path(user.id),method: :post%>
          <%end %>
          <div class="chordindex__body--title">
            <p>【タイトル】<br>
            <%= chord.title %></p>
          </div>
          <div class="chordindex__body--username">
            <%=link_to user_path(chord.user.id) do%>
              <p>【作曲者】
              <br><%= chord.user.username%></p>
            <%end%>
          </div>
          <div class="chordindex__body--updated">
            <p>【投稿時間】
            <br><%= chord.updated_at.strftime("%Y-%m-%d %H:%M")%></p>
          </div>
          <div class="chordindex__body--body">
            <p>【コメント】
            <br><%= simple_format chord.body%></p>
          </div>
        </div>
      </div>
        <%# 投稿コード %>
        <div id="chords">
          <div class="chord_id" data-work="<%= chord.work%>"></div>
        </div>
        <%# 再生ボタン %>
        <div class="play_id"></div>
      </div>
    </section>
  <%end%>

</section>

  <!-- 音源再生用の要素 -->  <div id="ongen"></div>
  <div id="audio_start"></div>

  <%= javascript_pack_tag 'index.js' %>
  <%= javascript_pack_tag 'sound.js' %>