<!-- メインコンテンツ -->
  <section class="chordnew">
    <% if @chord.errors.any?%>
      <div class="new-alert">
        <h2><%= pluralize(@chord.errors.count, "error")%>空欄があります</h2>
        <ul>
          <% @chord.errors.full_messages.each do |message|%>
            <li><%= message%></li>
          <%end%>
        </ul>
      </div>
    <%end%>
    <section class="heading">
      <div class="heading__h1">
        <h1>作品投稿</h1>
      </div>
    </section>
    <!-- コード一覧 -->
    <section class="chordnew__wrap">
      <div class="chordnew__wrap--btn">
        <div class="chordnew__wrap--btn-chord">
          <p id="chord_list" class="chordnew__wrap--btn-chord-p">コード一覧</p>
        </div>
        <div class="chordnew__wrap--btn-degree">
          <p id="degree_list" class="chordnew__wrap--btn-degree-p">ディグリーネーム</p>
        </div>
      </div>
      <p class="explanation">ボタンをクリックすると、作品一覧に表示されます。好きなコード進行を入力して投稿してみましょう！
      <br>※コードの音の長さは２拍分です。１小節につき２コードとなります。ディグリーネームについても同様です。
      </p>
      <div id="chords"></div>
      <div id="degrees"></div>
    </section>

    <!-- 作品一覧 -->
    <section class="work">
      <div class="work__wrap">
        <p class="work__wrap--p">作品一覧</p>
      </div>
      <div id="sakuhin"></div>
    </section>

    <!-- 音源読み込み/再生 -->
    <section id="chord_play" class="play" onclick="play()">
      <p id="chord_play_p" class="play-btn">再生</p>
    </section>


    <%= form_for @chord do |f|%>
      <section class="form">
        <div class="field">
          <%= f.label :title,"【タイトル】" ,class:"label"%><br>
          <%= f.text_field :title, class:"input"%>
        </div>

        <div class="field">
          <%= f.label :body,"【コメント】", class:"label"%><br>
          <%= f.text_area :body, class:"text-area"%>
        </div>

        <div id="form"></div>

        <div class="actions">
          <%= f.submit "投稿" , class:"submit"%>
        </div>
      </section>
    <%end%>
  </section>

  <!-- 音源再生用の要素 -->
  <div id="ongen"></div>
  <div id="audio_start"></div>

  <%= javascript_pack_tag 'main.js'  %>
  <%= javascript_pack_tag 'sound.js' %>