<section class="useredit">
  <div class="useredit__container">

    <% if @user.errors.any?%>
      <section class="new-alert">
        <h2><%= pluralize(@user.errors.count, "エラー")%>空欄があります</h2>
        <ul>
          <% @user.errors.full_messages.each do |message|%>
            <li><%= message%></li>
          <%end%>
        </ul>
      </section>
    <%end%>

    <section class="heading">
      <div class="heading__h1">
        <h1>マイページ編集</h1>
      </div>
    </section>

    <%= form_for @user do |f|%>
    <section class="form">
      <div class="field">
        <%= f.label :username,"ユーザー名",class:"label"%><br>
        <%= f.text_field :username, class:"input"%>
      </div>

      <div class="field">
        <%= f.label :email,"メールアドレス",class:"label"%><br>
        <%= f.text_field :email, class:"input"%>
      </div>

      <div class="field">
        <%= f.label :profile,"プロフィール",class:"label"%><br>
        <%= f.text_area :profile, class:"text-area"%>
      </div>

      <div class="field">
        <%= f.label :profile_image,"プロフィール画像",class:"label"%><br>
        <%= f.attachment_field :profile_image%>
      </div>

      <div class="actions">
        <%= f.submit "更　新", class:"submit"%>
      </div>
    </section>
    <% end %>
  </div>
</section>