<section class="usershow_wrap">

  <section class="heading">
    <% if @user.id == current_user.id %>
      <div class="heading__h1">
        <h1>マイページ</h1>
      </div>
    <%else%>
      <div class="heading__h1">
        <h1>作曲者ページ</h1>
      </div>
    <%end%>
  </section>

  <section class="usershow">
    <div class="usershow--image">
      <%= attachment_image_tag @user, :profile_image, fallback: "no-image.png" %>
    </div>
    <div class="usershow__container">
      <% if @user.id == current_user.id %>
        <div class="usershow__container--edit">
          <p><%=link_to"編集", edit_user_path(@user),id: "edit_btn", class:"usershow__container--edit_btn" %></p>
        </div>
      <%else%>
        <div class="usershow__container--follow">
          <div id="user_follow_form">
            <%= render 'users/show_follow/follow_form' %>
            <%# <% if current_user.following?(@user)%> %>
              <%# <%= link_to user_relationships_path(@user.id),method: :delete do %> %>
                <%# <button class="usershow__container--follow_btn-remove">フォロー中</button> %>
              <%# <%end %> %>
            <%# <%else%> %>
              <%# <%= link_to user_relationships_path(@user.id),method: :post do %> %>
                <%# <button class="usershow__container--follow_btn-do">フォローする</button> %>
              <%# <%end %> %>
            <%# <%end %> %>
          </div>
        </div>
      <%end%>
      <div class="usershow__container--follow_wrap">
        <%=link_to following_user_path(@user) do%>
          <div class="usershow__container--follow_wrap_count">
            <p><span class="usershow__container--follow_wrap_count-int"><%= @user.following.count%></span>フォロー</p>
          </div>
        <%end%>
        <%=link_to followers_user_path(@user) do%>
          <div class="usershow__container--follow_wrap_count">
            <p><span class="usershow__container--follow_wrap_count-int"><%= @user.followers.count%></span>フォロワー</p>
          </div>
        <%end%>
      </div>
      <div class="usershow__container--show_edit">
        <p>ユーザー名：<%= @user.username%></p>
      </div>
      <% if @user.id == current_user.id %>
        <div class="usershow__container--show_edit">
          <p>メールアドレス：<%= @user.email%></p>
        </div>
      <%end%>
      <div class="usershow__container--show_profile">
        <span class="usershow__container--show_profile_box-title">プロフィール</span>
        <%= @user.profile%>
      </div>
    </div>
  </section>

  <section class="usershow_chord">
    <div class="heading">
      <div class="heading__h1">
        <h1>投稿作品</h1>
      </div>
    </div>
    <% @user.chords.order(created_at: :desc).each do |chord|%>
      <section class="usershow_chord__container">
        <div class="usershow_chord__container--title">
          <p>【タイトル】
          <br><%= chord.title %></p>
        </div>
        <div class="usershow_chord__container--username">
          <%=link_to user_path(chord.user.id) do%>
            <p>【作曲者】
            <br><%= chord.user.username%></p>
          <%end%>
        </div>
        <div class="usershow_chord__container--updated">
          <p>【投稿時間】
          <br><%= chord.updated_at.strftime("%Y-%m-%d %H:%M")%></p>
        </div>
        <div class="usershow_chord__container--body">
          <p>【コメント】
          <br><%= simple_format chord.body%></p>
        </div>
        <% if @user.id == current_user.id %>
          <div class="usershow_chord__container--delete">
            <p><%= link_to "【投稿削除】",chord_path(chord) ,method: :delete, data: {confirm:"削除しますか？"} %></p>
          </div>
        <%end%>
        <%#　コード表示 %>
        <div id="chords">
          <div class="chord_id" data-work="<%= chord.work%>"></div>
        </div>
        <%# 再生ボタン %>
        <div class="play_id"></div>
      </section>
    <%end%>
  </section>

    <!-- 音源再生用の要素 -->
  <div id="ongen"></div>
  <div id="audio_start"></div>

</section>



  <%= javascript_pack_tag 'index.js' %>
  <%= javascript_pack_tag 'sound.js' %>